*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #555;
}

nav{
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 30px;
}

nav .menu{
    display: flex;
}

.line{
    background-color: rgb(49, 49, 49);
    height: 5px;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

hr, .line{
    margin-top: 40px;
}


/* ------------- main ----------- */

.container{
    padding: 20px 3%;
}

.main-title{
    padding: 15% 0;
}

h1{
    font-size: 80pt;
    text-align: center;
}

/* ---------- portfolio section --------- */

.portfolio-item{
    display: flex;
}

.portfolio-info{
    margin-top: 20px;
}



/* ---------- contact --------- */

.container-contact{
    width: 100%;
    padding: 15% 0;
    text-align: center;

}

.container-contact h2{
    font-size: 100px;
}

.container-contact a{
}

/* ---------- footer --------- */

.footer{
    display: flex;
    width: 100%;
    padding: 2% 4%;
    background-color: rgb(235, 188, 219);
    
}


